.d1 {
    border: solid; /* Параметры границы */
    width: 720px;
    background: #fc3; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    margin: auto;
   }
p {
    text-indent: 2em;
    line-height: 1.3;
    margin: 0;
font-size: 18;}

   .h3 {
    line-height: 0px;
    margin: 12;
       
   }
ul {
    padding-left: 60px; 
    margin: 0.2em; 
    margin-bottom: 0.5em;
    font-size: 18;
    line-height: 1.2;
    }
.sh{
    font-family: "Garamond", "Times New Roman";
    font-style: italic;
}
